<% layout('layouts/boilerplate') -%>


<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
<form action="/forgot-password?_method=PUT"  method="POST" class="form-group">
	<h1 class="text-justify">Reset Password</h1>
	<div>
	  <label for="email">Email address</label>
	  <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" autofocus>
	  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>
	<button type="submit" class="btn btn-primary" value="Reset Password">Reset Password</button>
  </form>
</div>
</div>